footer
{
    background-image: url("../../assets/img/bg-footer.jpg");
    background-position: center;
    background-size: cover;

    color: $white;

    @media screen and (max-width: 900px)
    {
        background-image: none;
    }
    
    .container
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media screen and (max-width: 600px)
        {
            grid-template-columns: 1fr;

            .left
            {
                display: none;
            }
        }

        .left
        {
            justify-self: right;
        }
        .right
        {
            justify-self: left;
            @media screen and (max-width: 600px)
            {
                justify-self: center;
            }
        }
        .contain
        {
            .pre-title
            {
                font-size: 3rem;
            }
            p, span
            {
                display: block;
                max-width: 550px;
                margin: 10px 70px;
                letter-spacing: 1px;
                line-height: 170%;
            }
            p
            {
                color: $white;
                font-weight: 100;
            }

            form
            {
                margin: 70px;
                font-size: 1.5rem;
                display: flex;
                flex-direction: column;

                input
                {
                    margin: 5px;
                    border: 1px solid $grey;
                    outline: none;
                    padding: 5px;
                    font-size: 1rem;
                    background-color: transparent;
                    color: $white
                }
                label
                {
                    font-size: 1rem;
                    font-weight: 700;
                }

                @media screen and (max-width: 600px)
                {
                    margin: 70px auto;
                }
            }

            .social
            {
                @include center(space-between);
                margin: 70px;
                @media screen and (max-width: 600px)
                {
                    margin: 70px 0;
                }
                h4
                {
                    min-width: max-content;
                }
                ul
                {
                    @include center(space-around);
                    width: 100%;
                    li
                    {
                        color: $grey;
                        a
                        {
                            color: $grey;
                        }
                        &a:visited
                        {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }
}