.main-header
{
    z-index: -1;
    background-image: url("../../assets/img/bg-slider-06.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: $white;
    @media screen and (max-width: 900px)
    {
        padding-top: 80px;
    }

    @include center(center);

    .contain
    {
        transform: translateY(-40px);
        text-align: center;
        width: 100%;
        h1
        {
            font-size: 4.5rem;
            line-height: $pre-line-height;
            span
            {
                color: $brown1;
                font-size: $pre-size1;
            }
        }
        img
        {
            margin: 40px;
        }
        h3
        {
            font-weight: 300;
            font-size: 1.3rem;
            letter-spacing: 3px;
        }

        h1, h3
        {
            width: 90%;
            margin: 0 auto;
        }

        @media screen and (max-width: 900px)
        {
            h1
            {
                font-size: 3rem;

                span
                {
                    font-size: $pre-size2;
                }
            }
            h3
            {
                font-size: 1rem;
            }
        }
    }
}